@charset "utf-8";

:root {
  --base_txt_color: #333
}

* {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--base_txt_color);
}

body {
  font-family: '맑은 고딕', Arial, sans-serif;
  font-size: 13px;
  color: var(--base_txt_color);
}